.hero {
	min-height: 55vh;
	text-transform: capitalize;
	font-weight: 500;
	position: relative;
	background-image: url('../../assets/img/image-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
