@import '../index.scss';

// input[type='radio']:checked {
// 	filter: invert(60%) sepia(94%) saturate(281%) hue-rotate(127deg)
// 		brightness(85%) contrast(90%);
// }

// change color of all paragraphs
p {
	color: $dark-gray;
}

// radio checkbox
.checkbox-wrapper {
	margin-bottom: $tiny;
	padding: $tiny;
	border-radius: $tiny;
	display: flex;
	border: 2px solid rgba($black, 0.1);
}

.checkbox {
	display: flex;
	align-items: flex-start;
}

.pledges {
	position: relative;

	&__heading {
		margin-bottom: $tiny;
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
	}

	&__intro {
		margin-bottom: $tiny;
	}
}

.pledge {
	// position: relative;

	&__heading {
		margin-bottom: $tiny;
		margin-left: 1rem;

		&--amount {
			color: $moderate-cyan;
		}
	}

	&__info {
		width: 100%;
		margin-left: -$tiny;
	}

	&__left {
		margin-top: $tiny;
	}

	&__cta {
		text-align: center;
		margin-top: $tiny;
		padding-block: $tiny;
		width: 100%;

		&::before {
			content: '';
			display: table-cell;
			height: 1px;
			margin-bottom: 2rem;
			background-color: rgba($black, 0.1);
			position: absolute;
			left: 0;
			right: 0;
		}

		&--btns {
			display: flex;
			justify-content: space-between;
			margin-top: $tiny;
		}

		.btn {
			padding: 1rem $tiny;
		}
	}
}
