@import '../index.scss';

// input[type='radio']:checked {
// 	filter: invert(60%) sepia(94%) saturate(281%) hue-rotate(127deg)
// 		brightness(85%) contrast(90%);
// }

.pledges {
	position: relative;

	// change color of all paragraphs
	p {
		color: $dark-gray;
	}

	// radio checkbox
	.checkbox-wrapper {
		margin-bottom: $tiny;
		padding: $tiny;
		border-radius: $tiny;
		display: flex;
		border: 2px solid rgba($black, 0.1);
	}

	.checkbox {
		display: flex;
		align-items: flex-start;
	}

	&__heading {
		margin-bottom: $tiny;
	}

	&__close {
		position: absolute;
		right: 0;
		top: 0;
	}

	&__intro {
		margin-bottom: $tiny;
	}
}

.pledge {
	&__heading {
		margin-bottom: $tiny;
		margin-left: 1rem;

		&--amount {
			color: $moderate-cyan;
		}
	}

	&__info {
		margin-left: -$tiny;
	}
}
