@import '../index.scss';

.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 100vh;
	background-color: rgba($black, 0.2);
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.modal {
	background-color: $white;
	border-radius: $tiny;
	margin: $small;
	padding: $tiny;
}
