@import '../../index.scss';

.projects {
	padding: $tiny;
	border: 1px solid rgba($dark-gray, 0.2);
	border-radius: 1rem;
	margin: $tiny;

	&__heading {
		margin-bottom: $tiny;
	}

	&__info {
		margin-bottom: $small;
	}

	&__container {
		position: relative;
	}

	.pledge__action {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	.pledge__btn {
		padding: 1rem $tiny;
	}

	.pledge__cta {
		display: none;
	}
}
