@import '../../index.scss';

// call-to-action (cta) container
.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $tiny;
	margin: -$small $small $tiny;
	border: 2px solid rgba($black, 0.1);
	max-width: 80%;
	border-radius: 1rem;
	background-color: $white;
	position: relative;

	// mastercraft logo
	&__logo {
		position: absolute;
		top: -3rem;
	}

	// heading
	&__heading {
		font-size: 2rem;
		font-weight: 700;
		text-transform: capitalize;
		margin-block: $tiny;
	}

	// description
	&__detail {
		margin-block: 1rem;
	}

	// buttons container
	&__buttons {
		margin: 1rem $tiny;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		// cta button
		.btn {
			padding-inline: 3rem;
			font-size: 1.4rem;
			font-weight: 700;
		}

		// bookmark icon
		&--bookmark {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: $small;
			background-color: rgba($dark-gray, 0.2);
			color: $dark-gray;
			margin-left: auto;
		}
	}
}

.bookmark__txt {
	display: none;
}

/* media queries */
/* > 700px */
@media screen and (min-width: 43.25em) {
	.cta {
		max-width: 50%;
		margin-inline: auto;
	}
}

/* > 870px */
@media screen and (min-width: 54em) {
	.bookmark__txt {
		display: inline-block;
	}

	.bookmark {
		background-color: rgba($moderate-cyan, 0.2);
		color: $dark-cyan;

		& .logo {
			fill: $white;
			filter: invert(26%) sepia(42%) saturate(6447%) hue-rotate(164deg)
				brightness(87%) contrast(84%);
		}

		&__txt {
			font-size: 2rem;
			font-weight: bold;
			display: inline-block;
			margin-left: $tiny;
			padding-right: $tiny;
		}
	}
}
